---
const {title} = Astro.props;
---
<html lang="nl">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <script async src="https://a.sliceofbits.com/script.js" data-website-id="6bd2a8c8-f5c8-4675-8d8e-162f649c9247"></script>
</head>
<body class="">
</body>
<slot />
</html>